---
layout: layout.liquid
title: Interstellar Explorer
---

<h1><strong>Interstellar Explorer</strong><br>Blog</h1>

<h2>Welcome to the Interstellar Explorer's Journal</h2>

<p>A lone human drifts beyond the known stars, chronicling thoughts and experiences from the vast cosmic expanse.</p>
<!-- ChatGPT, Prompt: "Write a discription about the Interstellar Explorer's blog." -->

<br>

<h2>Blog List</h2>
<ul>
    <li><a href="/blog1/" class="blogLink">1_1 First Light Beyond Sol</a></li>
    <li><a href="/blog2/" class="blogLink">1_2 The Silence of Space</a></li>
</ul>